<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>

<aside th:fragment="sidebar" id="sidebar">
    <div class="bg-light border rounded-3 p-3">
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-truncate">
                    <i class="fa fa-file-contract"></i> Confirmation
                    <span class="d-none d-sm-inline badge bg-success">4</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link px-2 text-truncate">
                    <i class="fa fa-file-invoice-dollar"></i> Payment
                    <span class="d-none d-sm-inline badge bg-success">2</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

</body>
</html>